body {
  /* text-align: center; */
}
.container-fluid {
  padding: 15px;
}
hr {
  border-color: white;
}
.day {
  color: #fff;
  background-color: #76a7e3;
}
.night {
  color: #fff;
  background-color: #1f4371;
}

.weather_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.weather_header .search {
  font-size: 3vw;
  margin: 0;
}
.weather_header .results {
  display: none;
  width: 50%;
}
.weather_header .query_text {
  width: 50%;
}
.weather_header .weather_header_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.weather_header .weather_header_buttons .search_name img,
.weather_header .weather_header_buttons .search_geolocation img,
.weather_header .weather_header_buttons .refresh img,
.weather_header .weather_header_buttons .config img {
  height: 25px;
  width: 25px;
}

.weather_location_name,
.weather_icon,
.weather_temp,
.weather_status,
.weather_uv,
.weather_humidity,
.weather_wind {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.weather_location_name {
  text-align: center;
}
.weather_location_name .location_name {
  font-size: 5vw;
}

.weather_icon .icon {
  width: 100%;
}

.weather_temp {
  flex-direction: column;
}
.weather_temp .tempeature {
  font-size: 8vw;
}
.weather_temp .tempeature::after {
  content: "°C";
}
.weather_temp .tempeature_feel {
  font-size: 4vw;
}
.weather_temp .tempeature_feel::before {
  content: "(";
}
.weather_temp .tempeature_feel::after {
  content: "°C)";
}

.weather_status {
  flex-direction: column;
}
.weather_status .status {
  font-size: 5vw;
}

.weather_uv {
  flex-direction: column;
}
.weather_uv .uv_index {
  font-size: 5vw;
}
.weather_uv img {
  width: 50%;
  height: 50%;
}
.weather_uv img path {
  fill: white;
}

.weather_humidity {
  flex-direction: column;
}
.weather_humidity .humidity {
  font-size: 5vw;
}
.weather_humidity img {
  width: 50%;
  height: 50%;
}

.weather_wind {
  flex-direction: column;
}
.weather_wind .wind {
  font-size: 5vw;
}
.weather_wind img {
  width: 50%;
  height: 50%;
}

.weather_time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.weather_time .time {
  font-size: 4vw;
  text-align: center;
}
.weather_time img {
  width: 50%;
  height: 50%;
}

.weather_moon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.weather_moon img {
  width: 50%;
  height: 50%;
}
.weather_moon .moon {
  font-size: 3vw;
}

.forecast_hour {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  align-content: center;
  font-size: 3vw;
  text-align: center;
}
.forecast_hour .icon {
  width: 25%;
  height: 25%;
}
.forecast_hour .forecast_humidity,
.forecast_hour .forecast_uv,
.forecast_hour .forecast_temp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
}
.forecast_hour .forecast_humidity img,
.forecast_hour .forecast_uv img {
  width: 25%;
}
.forecast_hour .forecast_humidity .humidity::after {
  content: "%";
}
.forecast_hour .forecast_temp .tenperature::after,
.forecast_hour .forecast_temp .tenperature_feel::after {
  content: "°C";
}

.forecast_day {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  align-content: center;
  font-size: 3vw;
  text-align: center;
  height: 100%;
}
.forecast_day .icon {
  width: 25%;
  height: 25%;
}
.forecast_day .forecast_temp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
}
.forecast_day .forecast_temp .temperature_max::after,
.forecast_day .forecast_temp .temperature_min::after {
  content: "°C";
}

.last_update {
  font-size: 3.5vw;
  text-align: center;
}

div,
span,
label,
img {
  /* border: 1px solid red;  */
}
